*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(256,180,68);
}
nav{
    background-color: rgb(255, 250, 221);
    box-shadow: 5px  5px 5px rgb(224, 137, 22);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(58, 32, 14);
}
nav a:hover{
    background-color: rgb(230, 218, 197);
}
nav li:first-child{
    margin-right: auto;
}


.container{
    display: flex;
    justify-content: flex-end;
    font-family: monospace
}
.item1{
    padding: 12% 5% 5% 5%;
    width: 100%;
    height: auto;
}
.item2{
    padding-top: 5px;
    width: 50%;
    flex-grow: 2;
    max-width: 50%;
}
.item1 ul li{
    padding-left: 3%;
    list-style: none;
}
.item1 ul li a{
    text-decoration: none;
    color: brown;
}
.item1 ul li a:hover{
    color: rgb(71, 26, 15);
}